html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  height: 100%;
}

img {
  max-width: 100%;
}

.centrado {
  text-align: center;
}

.oculto {
  display: none;
}

.no-menu.pagina .sidebar {
  margin-left: -20rem;
}

.pagina {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nombre-sitio {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5rem;
          flex: 0 0 5rem;
  background-color: #003f8c;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .header .nombre-sitio {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20rem;
            flex: 0 0 20rem;
  }
}

.header .nombre-sitio h1 {
  color: #ffffff;
  margin: 0;
}

.header .nombre-sitio .escritorio {
  display: none;
}

@media (min-width: 1024px) {
  .header .nombre-sitio .escritorio {
    display: block;
  }
}

@media (min-width: 1024px) {
  .header .nombre-sitio .movil {
    display: none;
  }
}

.barra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #005b9f;
}

.barra .menu-izquierdo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.barra .menu-izquierdo i {
  color: #ffffff;
  font-size: 1.4rem;
}

.barra .menu-izquierdo .fa-arrow-right {
  display: none;
}

.barra .menu-derecho {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.barra .menu-derecho .caja {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.barra .menu-derecho .caja:hover {
  background-color: #004c86;
}

.barra .menu-derecho .caja a {
  color: #ffffff;
  text-decoration: none;
}

.barra .menu-derecho .caja a span {
  background-color: #009045;
  border-radius: 50%;
  padding: .5rem;
  margin-left: .4rem;
}

.sidebar {
  background-color: #373737;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20rem;
          flex: 0 0 20rem;
  padding: 1rem;
  color: #ffffff;
  -webkit-transition: margin-left .3s ease;
  transition: margin-left .3s ease;
}

.sidebar .usuario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: normal;
}

.sidebar .usuario img {
  max-width: 5rem;
}

.sidebar .usuario span {
  font-weight: bold;
  display: block;
}

.sidebar .buscador {
  margin-top: 1rem;
}

.sidebar .buscador input[type="text"] {
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 10px;
  padding-left: 1rem;
}

.menu-admin {
  margin-top: 2rem;
}

.menu-admin .menu {
  list-style: none;
  padding: 0 0 0 1rem;
}

.menu-admin .menu > li {
  padding: .5rem;
}

.menu-admin .menu > li:hover ul {
  display: block;
}

.menu-admin .menu > li a {
  color: #ffffff;
  text-decoration: none;
  padding: .5rem;
  -webkit-transition: padding-left .3s ease;
  transition: padding-left .3s ease;
}

.menu-admin .menu > li a:hover {
  background-color: #005b9f;
  padding-left: 2rem;
}

.menu-admin .menu > li ul {
  display: none;
  margin-top: 1rem;
  list-style: none;
  background-color: #2f2f2f;
  padding: 1rem;
}

.menu-admin .menu > li ul li {
  margin-bottom: 1rem;
}

.menu-admin .menu > li ul li:last-of-type {
  margin-bottom: 0;
}

.contenedor-principal {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contenido {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2rem;
}

.formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.formulario .campo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .formulario .campo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 1rem);
            flex: 0 0 calc(50% - 1rem);
  }
}

.formulario .campo.expandir {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100%);
          flex: 0 0 calc(100%);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.formulario .campo.expandir label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12.5%;
          flex: 0 0 12.5%;
}

.formulario .campo.expandir textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.formulario .campo label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.formulario .campo input[type="text"] {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  height: 2rem;
}

.formulario .campo .opciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.formulario .campo .opciones label {
  padding-left: 1rem;
}

.formulario .campo.enviar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.formulario .campo.enviar .boton {
  background-color: #005b9f;
  padding: .5rem 1rem;
  display: block;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

.formulario .campo.enviar .boton:hover {
  cursor: pointer;
  background-color: #003e6c;
}
/*# sourceMappingURL=app.css.map */