
//Tama;os
@mixin box-sizing ($box-model) {
    box-sizing: $box-model;
}

//Media Queries
@mixin telefono {
    @media (min-width: #{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}
//Boton
@mixin boton ($color) {
    background-color: $color;
    padding: .5rem 1rem;
    display: block;
    text-align: center;
    color: $blanco;
    text-decoration: none;
    transition: background-color .3s ease;
    &:hover {
        cursor: pointer;
        background-color: darken($color, 10);
    }
}
