//Fuente Principal 
$fuentePrincipal: 'Raleway', sans-serif ;

//Tama;os
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

//Colores
$primario: #005b9f;
$secundario: #003f8c;
$terciario: #009045;
$alternativo: #ce6b00;
$gris: #eeeeee;
$grisOscuro: #373737;
$blanco: #ffffff;
